header {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    img {
        height: 64px;
    }

    &__nav {

        &__list {
            display: flex;

            &__item {
                list-style: none;

                a {
                    text-decoration: none;
                }
            }
        }
    }

}