@use 'reset';
@use 'variaveis';
@use 'header';
@use 'about';
@use 'movies';
@use 'watch';


body {
    background-color: variaveis.$corFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
}

.active {
    border-bottom: 3px solid purple;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;

    &--dark {
        background-color: rgba(variaveis.$btnDark, .8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: rgb(59, 0, 59);
        }
    }
}

section {
    padding: 5.6vw;
    min-height: 80vh;
    margin-top: 32px;
}

